/* GENERAL */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

/* SEARCH INPUT BAR */
#search-bar {
    font-family: sans-serif;
    position: relative;
}
.twitter-typeahead {
    display: block;
}
.typeahead, .tt-query, .tt-hint {
    border: none;
    border-bottom: 2px solid black;
    font-size: 22px; /* Set input font size */
    line-height: 30px;
    padding: 8px 12px;
    width: 500px;
    margin: 10px auto;
    outline: none;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    outline: none;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}


/* MAIN CANVAS */
div#container {
    position: relative;
    height: 700px;
    border: 1px solid blue;
    cursor: all-scroll;
    overflow: hidden;
}

div#canvas {
    position: relative;
    height: 700px;
    /*border: 1px solid red;*/
}

div.person {
    position: absolute;
    width: 100px;
    height: 200px;
    text-align: center;
    border: 1px solid red;
    cursor: default;
}

div.person.focused {
    border: 4px solid green;
}

div.marriage {
    position: absolute;
    width: 5px;
    height: 5px;
}

div.line {
    position: absolute;
    border: 0.5px solid gray;
}

div.person p {
    font-size: 10pt;
    line-height: 11pt;
}