<html>
    <head>
        <meta name="viewport" content="width=320, initial-scale=1">
        <title>Family Tree</title>

        <link rel="stylesheet" href="/static/css/lib/bootstrap-4.3.1.min.css">
        <link rel="stylesheet" href="/static/css/lib/select2.min.css"/>
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/lib/jquery-3.4.1.js"></script>
        <script src="/static/js/lib/select2.min.js"></script>
        <script src="/static/js/lib/popper-1.14.7.min.js"></script>
        <script src="/static/js/lib/bootstrap-4.3.1.min.js"></script>
        <script src="/static/js/lib/typeahead.js"></script>
        <script src="/static/js/lib/underscore.js"></script>
        <script src="/static/js/lib/graphql.js"></script>
        <script src="/static/js/lib/pan.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/control_center.js"></script>
        <script src="/static/js/graph.js"></script>
        <script src="/static/js/renderer.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body>

    <!-- Search bar typeahead -->
    <div id="search-bar-typeahead">
        <input type="text" class="typeahead tt-query" id="search-bar" autocomplete="off" spellcheck="false">
    </div>

    <div class="nav-bar top-right">
      <ul>
        <li id="create-person">Create Person</li>
<!--         <li id="login">Login</li>
        <li id="logout">Logout</li> -->
      </ul>
    </div>

    <!-- Detail Modal -->
    <div class="modal fade" id="detailModal" tabindex="11" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div id="id" style="visibility: hidden;"></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 class="modal-title">Modal title</h3>
            <h4 class="modal-residence">Place of residence</h4>
            <h5 class="modal-birth">Date of Birth</h5>
            <p class="modal-bio">A bio has not been entered for this person yet.</p>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="show-edit-modal" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="11" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <form id="profile-photo-form" method="post" enctype="multipart/form-data">
              <label> Profile Picture:
                <input type="hidden" id="id-profile-photo" name="id">
                <input type="file" accept=".jpg, .jpeg, .png" name="profile_photo" required>
              </label>
            </form>

            <form id="edit-person-form" autocomplete="off">
              <input type="hidden" id="id" name="id">
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="Their full name" required="">
                <div class="invalid-feedback">
                  Please provide a name.
                </div>
              </div>
              <div class="form-group">
                <label for="residence">Place of Residence</label>
                <input type="text" class="form-control" id="residence" placeholder="Where did this person live most of their life?">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender">
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="birth-year">Year of Birth</label>
                <input type="number" class="form-control" id="birth-year" placeholder="What year were they born?">
              </div>
              <div class="form-group">
                <label for="death-year">Year of Death</label>
                <input type="number" class="form-control" id="death-year" placeholder="Leave blank if they are still living">
              </div>
              <div class="form-group">
                <label for="biography">Biography:</label>
                <textarea class="form-control" id="biography" rows="3" placeholder="Tell us a little bit more about them"></textarea>
              </div>
              <div class="form-group">
                <label for="parents">Parents</label>
                <select class="parents-typeahead" id="parents" style="width: 100%"></select>
              </div>
              <table id="partners-table" class="table order-list">
                  <thead>
                  <tr>
                      <td>Partner</td>
                      <td>Children</td>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add a marriage" />
                        </td>
                    </tr>
                  <tr>
                  </tr>
                  </tfoot>
              </table>

              <button type="button" id="submit-edit-form-btn" class="btn btn-primary float-right" data-dismiss="modal">Save</button>
            </form>
        </div>
        </div>
      </div>
    </div>

    <div id="container">
        <div id="canvas"></div>
    </div>

    <div id="legend">
    </div>

    <div class="nav-bar bottom-left">
      <ul style="color: FIREBRICK">
        <li id="reset-btn">Clear</li>
      </ul>
    </div>

    </body>
</html>